// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.users {
  background-image: none;
}

.row h1 {
  font-family: 'Holtwood One SC', Arial, serif; font-weight: 400;
  color: white;
  font-size: 6rem;
  text-shadow: 0 0 1px #5C5C5C;
}