// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
   background: url(https://33.media.tumblr.com/db73d73dd0395c58ae7e1b2cece480db/tumblr_n9amxhMx2s1qdeuyro4_1280.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

body { 
  background-color: #f00;
  background: transparent;
}