// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);

html {
  background: url(https://33.media.tumblr.com/db73d73dd0395c58ae7e1b2cece480db/tumblr_n9amxhMx2s1qdeuyro4_1280.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html body {
  background: transparent;
}
.row h1,h4,p {
  text-align: center;
}
.row div h2 {
  background-color: black;
  opacity: 0.6;
}
.row h1 {
  font-family: 'Holtwood One SC', Arial, serif; font-weight: 400;
  color: white;
  font-size: 6rem;
  text-shadow: 0 0 1px #5C5C5C;
}
.row h4 {
  color: #fff;
  outline-color: #fff;
  text-shadow: 0 0 2px #5C5C5C;
}
.row p {
  color: #fff;
  outline-color: #fff;
  text-shadow: 0 0 2px #5C5C5C;
}
.wrapper-absolute {
  position: absolute;
  top: 0;
}
.wrapper {
  position: relative;
  top: 50%;
}
.block {
  text-align: center;
  /* background: #c0c0c0; */
  /* border: #a0a0a0 solid 1px; */
  margin: 20px;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
  
  /* For visualization 
  background: #808080; width: 5px;
  */
}
.centered {
  display: inline-block;
  vertical-align: middle;
  /*vwidth: 300px; */
  padding: 10px 15px;
  /* border: #a0a0a0 solid 1px; */
  /* background: #f5f5f5; */
}

div.navbar {
  background-color: transparent;
  border: none;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 0 2px #5C5C5C;
  font-size: 14px;
}
.navbar.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
  color: #5C5C5C;
  text-shadow: 0 0 2px #fff;
  font-size: 14px;
}
.navbar.navbar-default .navbar-nav > li.active > a {
  color: #000;
  text-shadow: none;
  font-size: 14px;
}

input {
  width: 100%;
}
